<h2>Edit Post</h2>
<form method="post" action="">
    <input type="hidden" name="fname" value="">
    <input type="text" name="lname" value="">
    <input type="text" name="user_name" value="">
    <input type="text" name="password" value="">
    <button type="submit">Update Post</button>
</form>
