<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Homepage</title>
    <!-- <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Muli|Julius+Sans+One|Source+Sans+Pro|Crimson+Text|Marck+Script|Poiret+One" rel="stylesheet"> -->
</head>

<body>

    <div id="banner">
      <% if session[:user_id] %>
      <a href="/sign-out">Sign Out</a>
      <a href="/user-posts">Post Here</a>
      <% else %>
      <a href="/sign-in">Sign In</a>
      <% end %>
      <a href="/sign-up">Sign up</a>
    </div>

    <div class="flash-message">
      <% if flash[:notice] %>
      <%= flash[:notice] %>
      <% end %>
    </div>





    <div>
        <h3> Music </h3>
        <div id="banner-2">
        </div>
        <div id="nav-banner">
            <ul class="nav">
                <li><a href="/">Homepage</a>
                </li>
                <li><a href="/music">Music</a>
                </li>
                <li><a href="/videos">Video</a>
                </li>
                <li><a href="/photos">Photo</a>
                </li>
                <li><a href="/posts">Posts</a>
                </li>

            </ul>
        </div>
    </div>


    <%=yield %>
</body>
<!--
<script src="hygge.js"></script> -->

</html>
