<form method="post" action="/new_account">
  <label for="user_name">Username</label>
  </br>
  <input type="text" name="user_name">
  </br>
  <label for="password">Password</label>
  </br>
  <input type="text" name="password">
  </br>
  <label for="fname">First Name</label>
  </br>
  <input type="text" name="fname">
  </br>
  <label for="lname">Last Name</label>
  </br>
  <input type="text" name="lname">
  </br>
  <label for="city">City</label>
  </br>
  <input type="text" name="city">
  </br>
  <input type="submit">
</form>
