<form method="post" action="/new_account">
  <label for="user_name">Username:</label>
  <input type="text" name="user[user_name]">
  <label for="password">Password:</label>
  <input type="text" name="user[password]">
  <label for="fname">First Name:</label>
  <input type="text" name="user[fname]">
  <label for="lname">Last Name:</label>
  <input type="text" name="user[lname]">
  <input type="submit">
</form>
