<form method="post" action="/posts">
  <label for="title">Title:</label>
</br>
  <input type="text" name="post[title]">
</br>
  <label for=date"">Date:</label>
</br>
  <input type="text" name="post[date]">
  <br>
  <label for="content">Content:</label>
</br>
  <input id ="blogging" type="text" name="post[content]" style="height:200px">
</br>
  <input class="user" type="submit">
</form>


<a href="/">Logged in "<%= @current_user.user_name %>"</a>
